.sarja-admin {
    color: white;
}

.kirja-admin {
    color: white;
}


.button {
    margin-right: 15px;
    margin-left: 15px;
    padding: 0.5rem 1rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
}

button:hover {
    background-color: #0069d9;
}

article {
    max-width: 70rem;
    margin: 0 auto;
    border-style: outset;
    border-width: 5px;
    border-color: #f1f1f0;
    border-radius: 10px;
    padding: 5px;
    display: block;
}

dl {
    grid-template-columns: auto 1fr;
    gap: 0.5rem 0;
    margin: 0;
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

dl>* {
    padding: 1rem;
}

.sarja_img {
    width: 7.5%;
    height: 120px;
}

.kirja_img {
    width: 7.5%;
    height: 120px;
}