.video {
  position: fixed;
  width: 100%;
  left: 50%;
  top: 50%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: -1;
  overflow: hidden;
}

.home-container {
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.saateteksti {
  width: 70%;
  text-align: center;
  color: white;
}

.saateteksti p {
  font-size: medium;
}

.postaus-container {
  display: flex;
  width: 90%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.postaus {
  display: wrap;
  width: 51%;
  padding: 15px;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.5);
}

.postaus img {
  max-height: 352px;
}
