.tausta{
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  overflow: hidden;

}

  .home-container{
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
  }

  .saateteksti{
    width: 70%;
    text-align: center;
    color:white;
  }

  .saateteksti p{
    font-size: medium;
  }