.kirjatlisaus-container{
    background-color: darkgray;
    display: flex;
    justify-content: center;
}
.labels{
    font-size: x-large;
    text-align: left;
}
.Kirja-input{
    display: block;
}
.inputs{
    text-align: center;
    margin: 10%;
}