  .kirjat-container{
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    width: 98%;
  }


  /* Korttien tyylimäärittelyt sekä search bar tulevat sarjat.css tiedostosta */