.kirjatlisaus-container{
    display: flex;
    justify-content: center;
    color:white;
    flex-direction: column;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.labels{
    font-size: x-large;
    text-align: left;
}

.Kirja-input{
    display: block;
}

.inputs{
    width: 60%;
    text-align: left;
}