.login-container{
    font-size: medium;
    padding: 20px;
    gap:5px;
    color:white;
}

.login-container p{
    color:darkgray;
    font-size: large;
}

.login-container a{
    color:white;
    font-size: large;
}


.login-container label {
    margin-bottom: 0.5rem;
    padding: 1rem;
}

.login-container input {
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
}

.login-container button{
    padding: 0.5rem 1rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
}

.login-container button:hover {
    background-color: #0069d9;
}


.napit button{
    margin-left:20px;
}