.login-container{
    font-size: medium;
    padding: 20px;
    gap:5px;
    color:white;
}


label {
    margin-bottom: 0.5rem;
    padding: 1rem;
}

input {
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
}

.login-napit {
    padding: 0.5rem 1rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
}

.register-btn{
    background-color: white;
    color:#007bff;
}

.register-btn:hover{
    background-color: darkgray;
    color:#007bff;
}


.login-napit:hover {
    background-color: #0069d9;
}


.newlogin{
    font-size: large;
    border: 2px black ridge;
}

.napit{
    display: flex;
}

.napit :first-of-type{
    margin-right: auto;
}
.napit :last-of-type{
    margin-left: auto;
}


